<header>


</header>
  <title>Depot</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


</head>
<body>
<div class=jumbotron>
 <!-- This div is  intentionally blank. It creates the transparent black overlay over the video which you can modify in the CSS -->

 <div class=container>
  <div class=fond>
  <h1><strong>Cute&Cats</strong> !</h1>
  
  
  </div>
 </div>
</div>


<section class="wrapper">
  <div class="container">
  
  <div class="row">
 

  <% @items.each do |card| %>
    <%= render 'item', item: card %>
  <% end %>
    
  </div>
</section>
</body>
